@font-face {
  font-family: Sandoval;
  src: url(".//Sandoval.woff2") format("woff2"),url("/src/fonts/Sandoval.woff2") format("woff2")
}
@media screen and (min-width:320px) {
  .socialmedia {
    padding-top: 4rem;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly
  }
  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-2) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
  }
  .mediapage {
    width: 100%;
    height: 100%;
    text-align: center
  }

  .kophome2 {
    display: flex;
    justify-content: center;
    margin-top: -.34rem;

    font-family: Sandoval,sans-serif;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
padding:.4rem;
   
    font-size: 1.8rem;

  }
  .kophome3 {
    display: flex;
    justify-content: center;
    margin-top: -.34rem;

    font-family: Sandoval,sans-serif;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
padding:.4rem;
   
    font-size: 1.8rem;

  }
  .kophome {
    display: flex;
    justify-content: center;
    margin-top: -.34rem;

    font-family: Sandoval,sans-serif;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
padding:.4rem;
   
    font-size: 1.8rem;
  }
  .navbar {
    font-family: 'Alegreya Sans SC';
    background-color: #171717;
    display: flex;
    height: 0rem;
    align-content: flex-start;
    justify-content: space-evenly;
flex-wrap: nowrap;
    font-size: 1rem;
    flex-direction: row;
    align-items: stretch;
  }
  .nav-logo {
    color: red;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Alegreya Sans SC';
    font-size: 3rem
  }
  .texten {
    color: red;
    font-family: Sandoval,sans-serif;
    font-size: 22px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-evenly
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 10rem
  }
  .nav-links {
    color: #fff;
    text-decoration: none;
    display: flex;
    height: 100%;
    border-bottom: 3px solid transparent
  }
  .fa-code {
    margin-left: 1rem
  }
  .nav-item {
    line-height: 40px;
    margin-right: 1rem
  }
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: 0 0
  }
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40
  }
  .nav-item .active {
    color: black;
    font-size: 1.2rem;
 
  }
  .nav-icon {
    display: none
  }
}
@media screen and (max-width:960px) {
  .nav-menu {
    display: flex;
    font-family: 'Alegreya Sans SC';
    flex-direction: row;
    position: absolute;
    top: 61.5px;
    right: 90%;
    background-color: #171717
  }
  .nav-menu.active {
    visibilty: hidden;
    position: fixed;
    top: 78px;
    left: 0;
    width: 200px;
    border: 2px solid #fff;
    opacity: 90%;
    display: flex;
    font-size: 23px;
    justify-content: flex-start;
    background-color: #052e46;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1;
    height: 3rem
  }
  .nav-item .active {
    color: #ffdd40;
    border: none
  }
  .nav-links {
    display: table;
    margin-left: 1rem;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 45px;
    left: 40;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    z-index: 2
  }
  .nav-horse {
    font-family: 'Alegreya Sans SC';
    background-color: #171717;
    display: flex-inline;
    height: 0rem;
    width: 100%;
    justify-content: space-around;
    display: inline-flex;
flex-direction:row-reverse ;
flex-wrap: nowrap;
justify-content: flex-start;
    font-size: 1rem;
 
  }
}
.navbar-logo {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 4rem;
display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  color: red;
  border: 1px solid white
}
.nav-container {
  height: 3.47rem;
  width: auto;
  position: sticky
}
@media (min-width:1024px) {
  .kophome {
    display: flex;
    justify-content: center;
    margin-top: -.34rem;

    font-family: Sandoval,sans-serif;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
padding:.4rem;
   
    font-size: 1.8rem;

    
    
    }
  
}



@media (max-width: 389px){

  .icon{
    display: none;
  }

}