


.carousel{
    overflow: hidden;


}

.inner{
    white-space: nowrap;
    transition: transform 0.3s;
    margin-bottom:  1.7rem;
}

.carousel-item {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    height: 170px;
    background-color: none;
    color: #fff;
    flex-direction: column-reverse;
    margin-top: -1rem;

  
  
}
.Media{
margin-top:  2rem;

}
.indicators {
    display: flex;
    justify-content: center;
    
    
  }
  
  .indicators > button {
    margin: 5px;
    background-color: red;
    color: white;
    border-radius: 15px;
    font-family: 'sandoval';

  
  }

  .indicators > button:hover{
    transform: scale(1.1);
  }
  
  .indicators > button.active {
    background-color: black;
    color: white;
  }


  @media (max-width: 576px ){
    .carousel{
      overflow: hidden;
  
  width: 21.4rem;
  border-radius: 1rem;
  border: 3px solid white;
  margin-top: -1.7rem;
  }
  
  .inner{
      white-space: nowrap;
      transition: transform 0.3s;


      height: auto;

      width: 100%;
  }
  
  .carousel-item {
      display: inline-flex;
      align-items: stretch;
      justify-content: center;
    
    
      color: #fff;
      flex-direction: column-reverse;
      margin-top: -1rem;

    
    
  }
  .Media{
   display: flex;
   justify-content: center;
    width:100%;

    
  
  }
  .indicators {
      display: flex;
      justify-content: center;
      
      
    }
    
    .indicators > button {
      margin: 5px;
      background-color: red;
      color: white;
      border-radius: 15px;
      font-family: 'sandoval';
  
    
    }
  
    .indicators > button:hover{
      transform: scale(1.1);
    }
    
    .indicators > button.active {
      background-color: black;
      color: white;
    }

 



  }