
 @import url('http://fonts.cdnfonts.com/css/sandoval');


                

:root {
  --color-1: #186cb8;
  --color-2: red;
  --color-4: #f1b211;
  --color-3: #027b9a;
  --color-5: #000;

}
.aboutpage {
width: 100%;
height: 100%;
text-align: center;

} 

.textcolor{
  color:#014F9F;
  font-weight: bold;
}
.textcolor2{
  color:black;
font-weight: bold;
}
.textcolor3{
  color:white;
font-weight: 700;
}


body {
  margin: 0 auto;

 
}
.feed {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


p {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #171717;

  font-weight: 500;
  padding: .5rem
}

.col-8 {
  position: relative;
  width: 100%;
  max-height: 90%;
  min-height: 80%;
  padding-right: 15px;
  padding-left: 15p;
  border-radius: 1rem;
  box-shadow: #000
}

.navbar-logo {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 4rem;
  display: flex;
  margin-bottom: 0;
  margin-left: 1rem;
  border: 3px solid white
}

@media (min-width:1024px) {
  
 .container {
  display:inline-flex;
  height:100%;
width: 90%;
   justify-content: center;

 }

  .textnormal2 {
    color:#171717;
    font-family: 'Alegreya Sans SC';
    font-size:24px;
    margin-top:20rem;
      font-weight: 300;
width:350px;
    display: inline-flex;
  
  }
  .textabout {
    font-family: 'Alegreya Sans SC';
    color:white;
      font-weight: 300;
  width:500px;
  font-size: 26px;
  display: inline-block;
  
  }
  


  .svenska-button{
   padding:1rem;
  }

  .atg-button {
    padding:1rem;    transform: scale(1.019)
  }

  .servicespage{
height:40%;
    width: 100%;
 
    text-align: center;
    background-image: url('./img/samarberte.png');
    background-position:top;

  background-repeat: no-repeat;
  background-size:contain ;
  }

  .textnormal{
    font-size: 26px;
    color:white;
  }
  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%);
    }






}

@media (max-width:576px) {

.container{
display:flex;
justify-content: space-evenly;
height:100%
}


  .feed {
    display: flex;
    justify-content: center
  }

  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
  }

  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
  }


.mediapage {
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
}

.aboutpage {
  width: 100%;

  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
}

.servicespage {
 width: 100%;
  height: 100%;


  text-align: center;
  background-image: url('./img/samarberte.png');
  background-position:auto;

background-repeat: no-repeat;
background-size:contain ;


}


.svenska-button {
display:inline-flex;
box-shadow: 2px 2px 0px 0px rgba(255, 0, 0, 0.836);
  width: 60px;
  height: 60px;


}

.atg-button {
  display:inline-flex;
  box-shadow: 2px 2px 0px 0px #014F9F;
  width: 60px;
  height: 60px;

}

.textnormal2 {
  font-family: 'Alegreya Sans SC';
  font-size:22px;
  color:#171717;
  margin-top:7rem;
    font-weight: 500;
width:350px;
  display: inline-block;

}

.textabout{
  color:white
}
.textnormal{
  color:white
}




}

@media only screen and (min-width :577px) and (max-width :1024px) and (orientation :portrait){

.servicespage{

  width: 100%;
height:52%;
  text-align: center;
  background-image: url('./img/samarberte.png');
  background-position:bottom;

background-repeat: no-repeat;
background-size:contain ;
}

.textnormal{
  color:white;
}


.textnormal2 {
  font-family: 'Alegreya Sans SC';
  font-size:26px;
  color:#171717;
  margin-top:20rem;
    font-weight: 500;
width:350px;
  display: inline-block;

}
.textabout {
  font-family: 'Alegreya Sans SC';
color:white;
    font-weight: 300;
width:500px;
font-size: 26px;
display: inline-block;

}


.contactpage {
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%);
  }

  
  .feed {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .container{
    display:flex;
    justify-content: space-evenly;


  }

  .aboutpage {
    width: 100%;
      text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)

}


}