:root {
  --color-1: #186cb8;
  --color-2: red;
  --color-4: #f1b211;
  --color-3: #027b9a;
  --color-5: #000;

}

.textcolor{
  color:#014F9F;
  font-weight: bold;
}
.textcolor2{
  color:var(--color-2);
font-weight: bold;
}
.textcolor3{
  color:white;
font-weight: 700;
}


body {
  margin: 0 auto;
  background-color: #171717
}
.feed {
  display: flex;



  justify-content: center
}


p {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: .5rem
}

.col-8 {
  position: relative;
  width: 100%;
  max-height: 90%;
  min-height: 80%;
  padding-right: 15px;
  padding-left: 15p;
  border-radius: 1rem;
  box-shadow: #000
}

.navbar-logo {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 4rem;
  display: flex;
  margin-bottom: 0;
  margin-left: 1rem;
  border: 3px solid white
}

@media (min-width:1500px) {
  .svenska-button:hover {
    transform: scale(1.019)
  }

  .atg-button:hover {
    transform: scale(1.019)
  }
}

@media (max-width:576px) {
  .feed {
    display: flex;

 

    justify-content: center
  }
  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
  }

  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
  }


.mediapage {
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
}

.aboutpage {
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4%, var(--color-5) 3%, transparent 40%), radial-gradient(circle at 5.5% 3%, var(--color-2) 40%, transparent 75%), radial-gradient(circle at 2.5% 3.5%, var(--color-2) 25%, transparent 45%)
}

.servicespage {
  width: 100%;
  height: 100%;

  text-align: center;
  background-image: url('/src/img/samarberte.png');
  background-position:top;
  background-position-y: top;
background-repeat: no-repeat;
background-size:contain ;


}
/* 
.kophome {
  margin-top: -.4rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  font-family: Sandoval, sans-serif;

  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #da0505;
  font-size: 2rem;
padding-left: 1rem;

} */



.svenska-button {
display:inline-flex;
box-shadow: 2px 2px 0px 0px rgba(255, 0, 0, 0.836);
  width: 60px;
  height: 60px;


}

.atg-button {
  display:inline-flex;
  box-shadow: 2px 2px 0px 0px #014F9F;
  width: 60px;
  height: 60px;

}
}


