@font-face {
  font-family: Sandoval,sans-serif;
  src: local('Sandoval'),url("./fonts/Sandoval.woff2") format('woff2')
}
:root {
  --color-1: #186cb8;
  --color-2: red;
  --color-4: #f1b211;
  --color-3: #027b9a;
  --color-5: #171717
}
.aboutpage {
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/img/stor.webp');
  height: 100%
}
.textcolor {
  color: #014f9f;
  font-weight: 700
}
.textcolor2 {
  color: #fff;
  border: 1px solid #000;
  background-color: #014f9f;
  font-weight: 700
}
.textcolor3 {
  color: red;
  font-weight: 700
}
body {
  margin: 0 auto;
  background: radial-gradient(circle at 1.4% 1.4%,var(--color-2) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
}
.hr2 {
  width: 55%;
  height: 2px;
  background-color: #014f9f;
  border: #014f9f
}
.hr3 {
  width: 45%;
  height: 2px;
  background-color: red;
  border: red
}
.hr4 {
  transform: rotate(45deg);
  width: 200px;
  height: 1px;
  background-color: #014f9f;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: -9rem
}
.hr5 {
  transform: rotate(45deg);
  width: 50px;
  height: 1px;
  background-color: red;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: -6rem
}
.feed {
  display: flex;
  justify-content: center;
  margin-top: 2rem
}
p {
  font-family: 'Alegreya Sans SC',sans-serif;
  color: #171717;
  font-weight: 500
}
.col-8 {
  position: relative;
  width: 100%;
  max-height: 90%;
  min-height: 80%;
  padding-right: 15px;
  padding-left: 15p;
  border-radius: 1rem;
  box-shadow: #000
}
.navbar-logo {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 4rem;
  display: flex;
  margin-bottom: 0;
  margin-left: 1rem;
  border: 3px solid #fff
}
@media (min-width:1024px) {
  .container {
    display: inline-flex;
    height: 3rem;
    width: 90%;
    margin-top: -3rem;
    justify-content: center
  }
  .textnormal3 {
    color: #fff;
    font-family: 'Alegreya Sans SC';
    font-size: 18px;
    font-weight: 500;
    width: auto;
    margin-bottom: 2rem;
    display: inline-flex
  }
  .svenska-button {
    display: inline-flex;
    width: 50px;
    height: 50px
  }
  .atg-button {
    display: inline-flex;
    width: 50px;
    height: 50px
  }
  .textnormal2 {
    font-family: 'Alegreya Sans SC';
    margin-top: -1.3rem;
    background-image: url('./img/samarberte.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Alegreya Sans SC'
  }
  .textabout {
    font-family: 'Alegreya Sans SC';
    color: black(255,255,255);
    height: 54%;
    font-weight: 600;
    font-size: 17px;
    width: 40%;
    opacity: 80%;
    padding: .4rem;
    display: inline-block;
    background-color: #fff;
    border: 3px solid red;
    border-radius: 1rem
  }
  .svenska-button {
    padding: 1rem
  }
  .atg-button {
    padding: 1rem;
    transform: scale(1.019)
  }
  .servicespage {
    width: auto;
    height: 40%;
    text-align: center
  }
  .textnormal {
    font-size: 26px;
    color: #fff
  }
  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,transparent 45%)
  }
}
@media (max-width:1023px) {
  .container {
    display: inline-flex;
    height: 4rem;
    width: 50%;
    justify-content: space-evenly
  }
  .textnormal3 {
    color: #fff;
    font-family: 'Alegreya Sans SC';
    font-size: 18px;
    margin-top: -1rem;
    font-weight: 500;
    display: inline-flex
  }
  .feed {
    display: flex;
    margin-top: 0;
    justify-content: center
  }
  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,transparent 45%)
  }
  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-2) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
  }
  .mediapage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
  }
  .aboutpage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url('/src/img/stor.webp')
  }
  .servicespage {
    width: 100%;
    height: 50%;
    text-align: center
  }
  .svenska-button {
    display: inline-flex;
    width: 50px;
    height: 50px
  }
  .atg-button {
    display: inline-flex;
    width: 50px;
    height: 50px
  }
  .textnormal2 {
    font-family: 'Alegreya Sans SC';
    margin-top: -1rem;
    background-image: url('./img/samarberte.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 14rem;
    font-weight: 500;
    font-size: 16px;
    width: auto;
    color: #fff;
    font-family: 'Alegreya Sans SC'
  }
  .textabout {
    font-family: 'Alegreya Sans SC';
    color: black(255,255,255);

    font-weight: 600;
    width: 70%;
    padding: 1.2rem;
    opacity: 80%;
    display: inline-block;
    background-color: #fff;
    border: 3px solid red;
    border-radius: 1rem
  }
  .textnormal {
    color: #fff
  }
}
@media only screen and (min-width :577px) and (max-width :1024px) and (orientation :portrait) {
  .servicespage {
    width: 100%;
    height: 50%
  }
  .textnormal {
    color: #fff
  }
  .textnormal2 {
    font-family: 'Alegreya Sans SC';
    margin-top: 0;
    background-image: url('./img/samarberte.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10rem;
    font-weight: 500;
    font-size: 16px;
    width: auto;
    color: #fff;
    font-family: 'Alegreya Sans SC'
  }
  .textabout {
    padding: 1rem;
    font-family: 'Alegreya Sans SC';
    color: black(255,255,255);
    height: 50%;
    font-weight: 600;
    width: 50%;
    padding: 1rem;
    opacity: 80%;
    font-size: 28px;
    display: inline-block;
    background-color: #fff;
    border: 3px solid red;
    border-radius: 1rem
  }
  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,transparent 45%)
  }
  .feed {
    display: flex;
    justify-content: center;
    margin-top: 0rem
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto
  }
  .container2 {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 5rem;
    height: auto
  }
  .aboutpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/img/stor.webp')
  }
  .mediapage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
  }
  .atg-button {
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 1px 3px #014f9f
  }
  .svenska-button {
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 1px 3px red
  }
  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-2) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40%,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25%,#171717 45%)
  }
}