
@import url('http://fonts.cdnfonts.com/css/sandoval');

.fa {
    color: white;
}

.fa-brands{
    color: white;
}

.fa-brands:hover{
    color: red;
}

.fa:hover{
    color: red;
}

html {
    scroll-behavior: smooth
}



section {
    text-align: justify
}

.col-6 {
    width: 100%;
    display: inline-table
}

footer {
    background-color: #171717;

    padding-top: 2rem;
    font-family: 'Alegreya Sans SC';
    border-top: 2px solid red;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10rem;
}

footer .logo {
    color: #fff;
    font-size: 28px
}

footer .row {
    display: flex;
    color: #fff;
margin-top:4rem;
 
    justify-content: space-evenly;
 
}
footer .row2 {
    display: flex;
    color: #fff;
 
    justify-content: space-evenly;

}



footer ul {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

footer ul li {
    list-style-type: none;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    line-height: 2
}

.col-3 {
    display: inline-table;
    width: 25%
}

@media only screen and (max-width :1024px) {
    .col-3 {
        display: block;
        width: 100%
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0
    }


    footer .row {
        display: flex;
        color: #fff;
        width: 100%;
        justify-content: space-evenly;
    
    }
         }


@media only screen and (min-width :768px) and (max-width :1024px) and (orientation :portrait) {
    footer {
        padding-right: 0rem;
        padding-left: 0rem
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em
    }
    
    footer {
        padding-right: 0rem;
        padding-left: 0rem;
        position: fixed;
        width: 100%;

   
    }
}

@media only screen and (min-width :768px) and (max-width :1024px) and (orientation :landscape) {
    section {
        padding-bottom: 3em
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em
    }
    
    footer {
        padding-right: 0rem;
        padding-left: 0rem;
        position: fixed;
        width: 100%;
   
   
    }

    footer .row {
        display: flex;
        color: #fff;
        width: 100%;
        justify-content: space-evenly
    }
}

@media only screen and (max-width :600px) {
    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em
    }
    
    footer {
 
        position: fixed;
        width: 100%;
      
   
    }
    .col-6 {
        width: 100%;
        display: block
    }

    
}

@media only screen and (max-width :480px) {
    .col-6 {
        width: 100%;
        display: block
    }

    footer {
    
        position: fixed;
        width: 100%;
        height: 5.5rem;
   
    }

    footer .row {
        display: flex;
        width: 100%;
        padding-top: 1.3rem;
   margin-top: 0rem;
        justify-content: space-evenly;
        align-items: center;
        padding-left: .7rem;
  
    }

    footer .row2 {
        display: flex;
        margin-top: -.8rem;
        padding-bottom: .9rem;
  color: white;
        width: 100%;
   
    
     
     
    }
}